    body {
    background-color: whitesmoke;
    }

    /*Header and its elements */
    #header-bar {
    background-color: #545151;
    position: absolute;
    width: 100%;
    height: 5%;
    left: 0px;
    top: 0px;
    }
    /*Website title / Company name */
    #header-cn {
    position: absolute;
    left: 15%;
    right: 75%;
    top: 35%;
    bottom: 30%;
    text-align: justify;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: oblique;
    font-weight: bold;
    }

    /*Buttons*/
    #account-button {
    position: absolute;
    left: 75%;
    right: 15%;
    top: 25%;
    bottom: 25%;

    /**Menu button common options*/
    border: 4px solid #20c000;
    box-sizing: border-box;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #20c000;
    }

    #upload-button {
    position: absolute;
    left: 70%;
    right: 20%;
    top: 25%;
    bottom: 25%;

    /**Menu button common options*/
    border: 4px solid whitesmoke;
    box-sizing: border-box;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    }

    #about-button {
    position: absolute;
    left: 65%;
    right: 25%;
    top: 25%;
    bottom: 25%;

    /**Menu button common options*/
    border: 4px solid whitesmoke;
    box-sizing: border-box;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    }

    #home-button {
    position: absolute;
    left: 60%;
    right: 30%;
    top: 25%;
    bottom: 25%;

    /**Menu button common options*/
    border: 4px solid whitesmoke;
    box-sizing: border-box;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    }


    .account-button:hover{
        border: 3px solid transparent;
        text-transform: capitalize;
    }

    /*Sidebars*/
    #left-sidebar {
    position: absolute;
    left: 0%;
    right: 85%;
    top: 5%;
    bottom: 5%;

    background-color: #909cae;
    
    }

    #right-sidebar {
    position: absolute;
    left: 85%;
    right: 0%;
    top: 5%;
    bottom: 5%;
    
    background-color:#909cae;
    }

    /*Footer and its elements*/
    #footer-bar {
    background-color: #545151;
    position: absolute;
    width: 100%;
    height: 5%;
    left: 0px;
    bottom: 0px;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    }



img{
    max-width: 320px;
    max-height: 240px;
}

.row{
    display: flex;
    flex-wrap:wrap ;
    padding: 0 4px ;
}

.column {
    flex: 50%;
    padding:0 4px;
}
/**Picture container*/
.column img {

    /* max-width: 320px;
    max-height: 240px; */
    border: 2px solid lightcyan;
    vertical-align: middle;

}
.column img:hover{
    border: 3px solid maroon;
}

.pic-div{
    width: 320px;
    height: 240px;
    background-color: transparent;
    border : 1px solid lightgray;
    align-content: center;
    align-items: center;
    image-resolution: 320px 240px ;
    
}
/* .pic-div:before,
.pic-div:after{
    content: "";
    display: table;
}
.pic-div:after{
    clear: both;
} */



/*Titles styles*/
.h1-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 21px;
    color: #000000;
}

main{
    position: absolute;
    left: 15%;
    right: 15%;
    top: 5%;
    bottom: 0%;
    padding: 1%;
    background: #C4C4C4;
}

img{
    max-width: 320px;
    max-height: 240px;
}

button:hover{
    border: 4px solid yellow;
}